.card {
  width: calc(30%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index {
  color: var(--light-peach);
  font-size: 4rem;
}

.title {
}

.description {
}
